
<div class="carousel-items background">
<owl-carousel-o class="background" [options]="customOptions">
  <ng-template carouselSlide>

    <a href="/recettes/detail/22" tabindex="-1">
      <img src="https://dbara.tn/frontoffice/img/Tarte_aux_fruits15.png" style="  border-radius: 10px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  max-width: 100%;"> <span>Tarte aux fruits façon cœur</span>
      <div class="hover-image"></div>
      <div class="bottomEncart">

      </div>
    </a>

  </ng-template>
  <ng-template carouselSlide>

    <a href="/recettes/detail/22" tabindex="-1">
      <img src="https://dbara.tn/frontoffice/img/TartePomme25.jpg" style="  border-radius: 10px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  max-width: 100%;"> <span>Tarte Aux Pommes Ou Poires</span>
      <div class="hover-image"></div>
      <div class="bottomEncart">

      </div>
    </a>

  </ng-template>
  <ng-template carouselSlide>

    <a href="/recettes/detail/22" tabindex="-1">
      <img src="https://dbara.tn/frontoffice/img/pistache21.png" style="  border-radius: 10px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  max-width: 100%;"> <span>Gâteaux aux pistaches et fruits rouge</span>
      <div class="hover-image"></div>
      <div class="bottomEncart">

      </div>
    </a>

  </ng-template>
  <ng-template carouselSlide>

    <a href="/recettes/detail/22" tabindex="-1">
      <img src="https://dbara.tn/frontoffice/img/gateau-brownies22.jpg" style="  border-radius: 10px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  max-width: 100%;"> <span>Gâteau Brownies</span>
      <div class="hover-image"></div>
      <div class="bottomEncart">

      </div>
    </a>

  </ng-template>
  <ng-template carouselSlide>

    <a href="/recettes/detail/22" tabindex="-1">
      <img src="https://dbara.tn/frontoffice/img/Gateupoire110.jpg" style="  border-radius: 10px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  max-width: 100%;"> <span>Gâteau Aux Poires</span>
      <div class="hover-image"></div>
      <div class="bottomEncart">

      </div>
    </a>

  </ng-template>
  <ng-template carouselSlide>

    <a href="/recettes/detail/22" tabindex="-1">
      <img src="https://dbara.tn/frontoffice/img/GateauxForet17.jpg" style="  border-radius: 10px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  max-width: 100%;"> <span>Gâteau Forêt-Noire</span>
      <div class="hover-image"></div>
      <div class="bottomEncart">

      </div>
    </a>

  </ng-template>
</owl-carousel-o>
</div>

