<h2 mat-dialog-title>Change passwords</h2>

<mat-dialog-content>
  <div class="loginArea">
  <form  class="col-12 login-Wrapper " style="padding: 0 !important; box-shadow:none !important;">
    <div class="row">
      <div class="col-md-12">
        <label class="infoTitle">New Password</label>
        <div class="input-form">
          <input type="text" placeholder="Enter your New Password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
          <div class="icon"><i class="las la-lock icon"></i></div>
        </div>
      </div>
      <!--Forget passwords -->
    </div>
  </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="btn-wrapper">
    <a (click)="closeDialog()" class="cmn-btn-outline2 m-lg-2">Close</a>
  </div>
  <div class="btn-wrapper">
    <a (click)="changePassword()" class="cmn-btn-outline1">Submit</a>
  </div>
</mat-dialog-actions>
